<!doctype html>
<html lang="en">
<head>
   
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--====== Title ======-->
    <title>Institute of Management and Technology Punnapra</title>
    
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/images/favi-con.png" type="image/png">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="/stylesheets/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    
    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="/stylesheets/nice-select.css">
    
    <!--====== Nice Number css ======-->
    <link rel="stylesheet" href="/stylesheets/jquery.nice-number.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    
    <!--====== Default css ======-->
    <link rel="stylesheet" href="/stylesheets/default.css">
    
    <!--====== Style css ======-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="/stylesheets/responsive.css">
  
    <link rel="stylesheet" href="/stylesheets/chatBot.css">
</head>

<body>
 <!--====== Chat Bot START ======-->
    <div class="chat_icon">
	    <a href="/chat-bot" style="text-decoration: none;color: #ffc600;" >
            <i class="fa fa-comments" aria-hidden="true"></i>
        </a>
    </div>
     <!--====== Chat Bot End ======--> 
    <!--====== PRELOADER PART START ======-->
    
    <div class="preloader">
        <div class="loader rubix-cube">
            <div class="layer layer-1"></div>
            <div class="layer layer-2"></div>
            <div class="layer layer-3 color-1"></div>
            <div class="layer layer-4"></div>
            <div class="layer layer-5"></div>
            <div class="layer layer-6"></div>
            <div class="layer layer-7"></div>
            <div class="layer layer-8"></div>
        </div>
    </div>
    
    <!--====== PRELOADER PART START ======-->
    
    <!--====== HEADER PART START ======-->
    
    <header id="header-part">
       
        <div class="header-top d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact text-lg-left text-center">
                            <ul>
                                <li><img src="/images/all-icon/map.png" alt="icon"><span>Punnapra, Alappuzha District, Kerala, India</span></li>
                                <li><img src="/images/all-icon/email.png" alt="icon"><span>imtdirector@gmail.com</span></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header top -->
        
        <div class="header-logo-support pt-30 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="logo">
                            <a href="/">
                                <img src="/images/imtpunnapra-logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header logo support -->
        
       <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/about-us">About us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admission">Admission</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/our-course">Our Course</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/facilities">Facilities</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="active" href="/faculty">Faculty</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/contact-us">Contact Us</a>
                                        <ul class="sub-menu">
                                            <li><a href="/contact-us">Quick Enquiry</a></li>
                                            <li><a href="/contact-us">Contact IMT Punnapra</a></li>
                                            <li><a href="/online-grievance">ONLINE GRIEVANCE REDRESSAL</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav> <!-- nav -->
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                        <div class="col-lg-8 col-md-8 my-2">
                            <div class="support-button float-right d-none d-md-block">
                                <div class="button float-left">
                                    <a href="/admission-form" class="main-btn">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
        
    </header>
    
    <!--====== HEADER PART ENDS ======-->
   
     <!--====== PAGE BANNER PART START ======-->
    
    <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(images/page-banner-2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Faculty</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Faculty</li>
                            </ol>
                        </nav>
                        <marquee behavior="scrolling" direction="left">
                            <a href="#" style="font-size: large;color: #fff;text-decoration: none;">
                                Its the first Notification message ....
                            </a>
                            <a href="#" style="font-size: large;color: #fff;text-decoration: none;margin-inline: 10rem;">
                                Its the second Notification message ....
                            </a>
                        </marquee>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== PAGE BANNER PART ENDS ======-->


    <section id="shop-singel" class="pt-120 pb-120 gray-bg">
        <div class="container">
            <div class="shop-destails">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="shop-left pt-30">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-image-1" role="tabpanel" aria-labelledby="pills-image-1-tab">
                                    <div class="shop-image">
                                        <a href="/images/teachers/indulekha-231x300-1.jpg" class="shop-items"><img src="/images/teachers/indulekha-231x300-1.jpg" alt="Shop"></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- shop left -->
                    </div>
                    <div class="col-lg-6">
                        <div class="shop-right pt-30">
                            <h6>Dr. Indulekha. R</h6>
                            <p>Dr. Indulekha. R has acquired Ph.D from University of Kerala on the topic Human Resource Practices and Performance of Medical Representatives in Kerala – A Strategic Analysis. She has 20 years of teaching experience, published several articles in national and international journals and done various book reviews. She has presented papers at IIM Kozhikode, SDMIMD, Mysore, University of Kerala Trivandrum and various other forums. She act as a consultant for various companies inside and outside Kerala and presently guiding the projects personalisation of Heritage sports and enactment of Passenger rights. She has contributed chapters in edited volumes related with management field and many new books regarding management principles will be published within a short period of time.</p>
                        </div>
                    </div>
                </div>  <!-- row -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="shop-left pt-30">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-image-1" role="tabpanel" aria-labelledby="pills-image-1-tab">
                                    <div class="shop-image">
                                        <a href="/images/teachers/prasanth-238x300-1.jpg" class="shop-items"><img width="100" height="350" src="/images/teachers/prasanth-238x300-1.jpg" alt="Shop"></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- shop left -->
                    </div>
                    <div class="col-lg-6">
                        <div class="shop-right pt-30">
                            <h6>Dr.Prasanth M. K</h6>
                            <p>Dr.Prasanth M. K is a holder of Phd in the area of Retail Management. He has acquired M.com in Finance and, MBA in Marketing and Finance. A total of 16 years of experience of which 11 years in teaching and 5 years with HLL Life care Ltd and Cipla Ltd Mumbai.Dr.Prasanth M. K is a holder of Phd in the area of Retail Management. He has acquired M.com in Finance and, MBA in Marketing and Finance. A total of 16 years of experience of which 11 years in teaching and 5 years with HLL Life care Ltd and Cipla Ltd Mumbai.</p>
                        </div>
                    </div>
                </div>  <!-- row -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="shop-left pt-30">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-image-1" role="tabpanel" aria-labelledby="pills-image-1-tab">
                                    <div class="shop-image">
                                        <a href="/images/teachers/deepa-ks.jpg" class="shop-items"><img width="50" height="350" src="/images/teachers/deepa-ks.jpg" alt="Shop"></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- shop left -->
                    </div>
                    <div class="col-lg-6">
                        <div class="shop-right pt-30">
                            <h6>Dr. Deepa.K.S</h6>
                            <p>Dr. Deepa.K.S acquired her PhD in Business Administration from Bharathiar University (NAAC ‘A’ Grade , Ranked 14th among Indian Universities by MHRD-NRF) in the area of Human Resource Management. She has presented several papers in National and International journals and got Best Paper Award in the National Symposium organized by NCET. A total of 18 ½ years teaching experience of which 3 years 2 months as Director- in –Charge of Institute of Management and Technology Punnapra.</p>
                        </div>
                    </div>
                </div>  <!-- row -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="shop-left pt-30">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-image-1" role="tabpanel" aria-labelledby="pills-image-1-tab">
                                    <div class="shop-image">
                                        <a href="/images/teachers/santhakumar.jpg" class="shop-items"><img width="50" height="350" src="/images/teachers/santhakumar.jpg" alt="Shop"></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- shop left -->
                    </div>
                    <div class="col-lg-6">
                        <div class="shop-right pt-30">
                            <h6>Dr. Santhakumar. V. S</h6>
                            <p>The Kerala University of Fisheries and Ocean Studies (KUFOS) has granted Dr Santhakumar VS a PhD in Human Capital Management. He holds an MBA in Human Resources from IGNOU and an M.Com. from Annamalai University. He also received a PG Diploma in HR, Finance, Operations, and Marketing from IGNOU. He has 7 years of managerial experience in an industrial establishment in Thiruvananthapuram under the SSI unit and also completed the Industrial and Entrepreneurship Training Programme of the Directorate of Industries and Commerce in Thiruvananthapuram.He has taken part in several faculty development programmes, student curriculum development programmes, international and national conferences, and seminars. He also attended the Kerala MBA Syllabus Modernization Workshop in 2016.</p>
                        </div>
                    </div>
                </div>  <!-- row -->
                
                
                <div class="row">
                    <div class="col-lg-6">
                        <div class="shop-left pt-30">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-image-1" role="tabpanel" aria-labelledby="pills-image-1-tab">
                                    <div class="shop-image">
                                        <a href="/images/teachers/harikrishnan-233x300.jpg" class="shop-items"><img src="/images/teachers/harikrishnan-233x300.jpg" alt="Shop"></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- shop left -->
                    </div>
                    <div class="col-lg-6">
                        <div class="shop-right pt-30">
                            <h6>Mr. Harikrishnan. R</h6>
                            <p>Done his BTech in Electronics & Communication from Amrita University, Amritapuri Campus. After degree joined Cognizant Technology Solutions and handled data ware house System for numerous clients. After that joined Christ University for dual degree programme and acquired PGDM – Marketing from Christ University Bangalore and MBA – International Business from Applied Science University, FHWS Campus Schiweinfurt Germany. Later joined Cucine Lube as Assistant Manager in sales and Marketing. Done training programs in Sales and Marketing for Professionals. Published papers in IEEE Conferences National and International level.</p>
                        </div>
                    </div>
                </div>  <!-- row -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="shop-left pt-30">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-image-1" role="tabpanel" aria-labelledby="pills-image-1-tab">
                                    <div class="shop-image">
                                        <a href="/images/teachers/aiswarya-p.jpg" class="shop-items"><img src="/images/teachers/aiswarya-p.jpg" alt="Shop"></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- shop left -->
                    </div>
                    <div class="col-lg-6">
                        <div class="shop-right pt-30">
                            <h6>Mrs AIswarya p</h6>
                            <p>Mrs AIswarya p did her MBA in finance and HR from Kerala university and she is pursuing M com finance and taxation from Mg university.Have 5 years of teaching experience and 2 years of Industrial experience</p>
                        </div>
                    </div>
                </div>  <!-- row -->
            </div> <!-- shop-destails -->
        </div> <!-- container -->
    </section>

    <!--====== FOOTER PART START ======-->
    
    <footer id="footer-part">
        <div class="footer-top pt-40 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-about mt-40">
                            <div class="logo">
                                <a href="#"><img src="images/imtpunnapra-logo.png" alt="Logo"></a>
                            </div>
                            
                            <ul class="mt-20">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div> <!-- footer about -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-link mt-40">
                            <div class="footer-title pb-25">
                                <h6>Sitemap</h6>
                            </div>
                            <ul>
                                <li><a href="/"><i class="fa fa-angle-right"></i>Home</a></li>
                                <li><a href="/about-us"><i class="fa fa-angle-right"></i>About us</a></li>
                                <li><a href="/admission"><i class="fa fa-angle-right"></i>Admission</a></li>
                                <li><a href="/our-course"><i class="fa fa-angle-right"></i>Our Course</a></li>
                                <li><a href="/facilities"><i class="fa fa-angle-right"></i>Facilities</a></li>
                                <li><a href="/faculty"><i class="fa fa-angle-right"></i>Faculty</a></li>
                                <li><a href="/contact-us"><i class="fa fa-angle-right"></i>Contact Us</a></li>
                            </ul>
                            
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-link support mt-40">
                            <div class="footer-title pb-25">
                                <h6>Support</h6>
                            </div>
                            <ul>
                                <li><a href="/contact"><i class="fa fa-angle-right"></i>Contact</a></li>
                            </ul>
                        </div> <!-- support -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-address mt-40">
                            <div class="footer-title pb-25">
                                <h6>Contact Us</h6>
                            </div>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="cont">
                                        <p>Punnapra, Alappuzha District, Kerala, India</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="cont">
                                        <p>+91 9995092285</p>
                                        <p>+91 9188067601</p>
                                        <p>+91 9746125034</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="cont">
                                        <p>imtdirector@gmail.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div> <!-- footer address -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer top -->
        
        <div class="footer-copyright pt-10 pb-25">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="copyright text-md-left text-center pt-15">
                            <p><a target="_blank" href="">&copy; Institute of Management & Technology(IMT), Punnapra. All rights reserved.</a>| Developed by <a href="https://mr-speedster.github.io/MyWeb/">Ajith D</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="copyright text-md-right text-center pt-15">
                           
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>
    
    <!--====== FOOTER PART ENDS ======-->
   
    <!--====== BACK TO TP PART START ======-->
    
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    
    <!--====== BACK TO TP PART ENDS ======-->
   
    
    
    
    
    
    
    
    <!--====== jquery js ======-->
    <script src="/javascripts/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/javascripts/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/javascripts/bootstrap.min.js"></script>
    
    <!--====== Slick js ======-->
    <script src="/javascripts/slick.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    
    <!--====== Counter Up js ======-->
    <script src="/javascripts/waypoints.min.js"></script>
    <script src="/javascripts/jquery.counterup.min.js"></script>
    
    <!--====== Nice Select js ======-->
    <script src="/javascripts/jquery.nice-select.min.js"></script>
    
    <!--====== Nice Number js ======-->
    <script src="/javascripts/jquery.nice-number.min.js"></script>
    
    <!--====== Count Down js ======-->
    <script src="/javascripts/jquery.countdown.min.js"></script>
    
    <!--====== Validator js ======-->
    <script src="/javascripts/validator.min.js"></script>
    
    <!--====== Ajax Contact js ======-->
    <script src="/javascripts/ajax-contact.js"></script>
    
    <!--====== Main js ======-->
    <script src="/javascripts/main.js"></script>
    
    <!--====== Map js ======-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="/javascripts/map-script.js"></script>

</body>
</html>
